{% set baseUrl = 'http://janmarten.name/talk-php7-wordpress/' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ headline|default(source.baseName) }} - PHP 7 talk</title>
    <link rel="canonical" href="{{ baseUrl ~ output.path }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://zeroconfig.github.io/Preacher/css/prism.css?e4e87ce" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ baseUrl ~ asset('css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ baseUrl ~ asset('css/main.css') }}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ content }}
            </div>
        </div>
    </div>
    <script src="https://zeroconfig.github.io/Preacher/js/prism.js?e4e87ce" type="text/javascript"></script>
</body>
</html>
